<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946472035784-5mjfcv4m3aq0j8ed64dlq5qbqjdhkaqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946472035784-5mjfcv4m3aq0j8ed64dlq5qbqjdhkaqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>946472035784-34bsj7637406lhg6nj2iur2hn2g721m6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv1t-UDGxTEHRZNbVx_E1Cc8qfLaGpp7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>946472035784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weightloser.app</string>
	<key>PROJECT_ID</key>
	<string>weightloserapp</string>
	<key>STORAGE_BUCKET</key>
	<string>weightloserapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946472035784:ios:3396b5d8d11a5b09a7ccfd</string>
</dict>
</plist>